In [15]:
import pandas as pd
import numpy as np
df=pd.read_csv("owid-covid-data.csv")

In [16]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243636 entries, 0 to 243635
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    243636 non-null  object
 1   continent                                   229936 non-null  object
 2   location                                    243636 non-null  object
 3   date                                        243636 non-null  object
 4   total_cases                                 229626 non-null  float64
 5   new_cases                                   229247 non-null  float64
 6   new_cases_smoothed                          228048 non-null  float64
 7   total_deaths                                210205 non-null  float64
 8   new_deaths                                  210100 non-null  float64
 9   new_deaths_smoothed                         208914 non-null  float64
 10  total_cases_per_million                     228580 non-null  float64
 11  new_cases_per_million                       228201 non-null  float64
 12  new_cases_smoothed_per_million              227007 non-null  float64
 13  total_deaths_per_million                    209172 non-null  float64
 14  new_deaths_per_million                      209067 non-null  float64
 15  new_deaths_smoothed_per_million             207886 non-null  float64
 16  reproduction_rate                           181112 non-null  float64
 17  icu_patients                                32903 non-null   float64
 18  icu_patients_per_million                    32903 non-null   float64
 19  hosp_patients                               35893 non-null   float64
 20  hosp_patients_per_million                   35893 non-null   float64
 21  weekly_icu_admissions                       8183 non-null    float64
 22  weekly_icu_admissions_per_million           8183 non-null    float64
 23  weekly_hosp_admissions                      19540 non-null   float64
 24  weekly_hosp_admissions_per_million          19540 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          69123 non-null   float64
 35  people_vaccinated                           66081 non-null   float64
 36  people_fully_vaccinated                     63452 non-null   float64
 37  total_boosters                              38244 non-null   float64
 38  new_vaccinations                            57317 non-null   float64
 39  new_vaccinations_smoothed                   144464 non-null  float64
 40  total_vaccinations_per_hundred              69123 non-null   float64
 41  people_vaccinated_per_hundred               66081 non-null   float64
 42  people_fully_vaccinated_per_hundred         63452 non-null   float64
 43  total_boosters_per_hundred                  38244 non-null   float64
 44  new_vaccinations_smoothed_per_million       144464 non-null  float64
 45  new_people_vaccinated_smoothed              144239 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  144239 non-null  float64
 47  stringency_index                            180287 non-null  float64
 48  population_density                          212253 non-null  float64
 49  median_age                                  196333 non-null  float64
 50  aged_65_older                               194262 non-null  float64
 51  aged_70_older                               195306 non-null  float64
 52  gdp_per_capita                              195880 non-null  float64
 53  extreme_poverty                             127612 non-null  float64
 54  cardiovasc_death_rate                       195775 non-null  float64
 55  diabetes_prevalence                         205972 non-null  float64
 56  female_smokers                              148407 non-null  float64
 57  male_smokers                                146376 non-null  float64
 58  handwashing_facilities                      96469 non-null   float64
 59  hospital_beds_per_thousand                  174426 non-null  float64
 60  life_expectancy                             223496 non-null  float64
 61  human_development_index                     191205 non-null  float64
 62  population                                  242590 non-null  float64
 63  excess_mortality_cumulative_absolute        8087 non-null    float64
 64  excess_mortality_cumulative                 8087 non-null    float64
 65  excess_mortality                            8116 non-null    float64
 66  excess_mortality_cumulative_per_million     8087 non-null    float64
dtypes: float64(62), object(5)
memory usage: 124.5+ MB

In [18]:
df.isnull().sum()

iso_code                                        0
continent                                   13700
location                                        0
date                                            0
total_cases                                 14010
                                            ...
population                                   1046
excess_mortality_cumulative_absolute       235549
excess_mortality_cumulative                235549
excess_mortality                           235520
excess_mortality_cumulative_per_million    235549
Length: 67, dtype: int64

In [19]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [20]:
df.isnull().sum()

iso_code                                        0
continent                                   13700
location                                        0
date                                            0
total_cases                                 14010
                                            ...
population                                   1046
excess_mortality_cumulative_absolute       235549
excess_mortality_cumulative                235549
excess_mortality                           235520
excess_mortality_cumulative_per_million    235549
Length: 67, dtype: int64

In [21]:
mean=df[["excess_mortality_cumulative_absolute","excess_mortality_cumulative","excess_mortality","excess_mortality_cumulative_per_million","total_cases"]].mean

In [22]:
df.fillna(df.mean(numeric_only=True).round(1), inplace=True)

In [23]:
df.isnull().sum()

iso_code                                       0
continent                                  13700
location                                       0
date                                           0
total_cases                                    0
                                           ...
population                                     0
excess_mortality_cumulative_absolute           0
excess_mortality_cumulative                    0
excess_mortality                               0
excess_mortality_cumulative_per_million        0
Length: 67, dtype: int64

In [24]:
df.shape

(243636, 67)

In [25]:
df1= df.dropna()

In [26]:
df1.shape

(106788, 67)

In [28]:
df1.to_csv("covid19.csv", index=False)